/*主体*/
#bd{
	/*background-color: whitesmoke;*/
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

/*标题*/
#bt{
	text-align: center;
	color: black;
}
#bt p{
	font-size: 20px;
	color: gray;
}

/*表格*/
#tb{
	width: 1000px;
	height: 1000px;
}

#tb a{
	text-decoration: none;
	font-size: 22px;
	
	color: #00EEEE;
	border-style: solid;
	border-color: #DCDCDC;
	border-width: 4px;
}

#tb a:active{
	color: red;
	font-weight: 500;	
}

#tb a:hover:not(.act){
	font-weight: bold;
	background-color: whitesmoke;
}

/*卡片*/
.card {
  width: 300px;
  height: 400px;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background-color: white;
  overflow: hidden;
  
}

.card img{
	cursor: pointer;
	transition: all 0.3s;
	height: 250px;
	width: 100%;
}

.card img:hover{
	transform: scale(1.1);
}

.container {
  padding: 10px;
}
