*{
	margin: 0;
	padding: 0;
	
}
#center {
	position: relative;
	width: 100%;
	margin: auto;
	/*border: 1px solid red;*/
}
/*导航栏*/
.tab {
	position: absolute;
	width: 100%;
	/*background-color:#DD4040;*/
	background-color: white;
	height: 100px;
	z-index: 999;
	/*opacity: 0.3;*/
}

.tab_ul {
	width: 630px;
	margin: auto;
	padding-top: 50px;
	/*height: 100px;*/
	/*border: 1px solid black;*/
}
.tab_ul li{
	display: inline;
	margin: 20px;
	margin-top: 20px;
	width: 60px;
	/*background-color: green;*/
	font-size: 25px;
	cursor: pointer;
	transition: color 0.75s;
}
.tab_ul li:hover {
	color: white;
}
/*首页背景*/
.main_page_background {
	background-image: url(../img/main_background01.jpg);
	background-attachment: fixed;/*固定图片*/
	background-size: cover;
	width: 100%;
	/*height: 969px;*/
	margin: auto;
	/*filter: blur(1px);*/
	/*border: 2px solid chartreuse;*/
}
/*首页背景遮罩层*/
.main_page_content {
	position: absolute;
	width: 100%;
	/*height: 969px;*/
	/*margin-top: -969px;*/
}
/*
 *首页上的箭头
 */
.main_img_next_btn {
	position: absolute;
	width: 40px;
	height: 40px;
	background-image: url(../../img/箭头.png);
	background-size: cover;
	margin-left: 49%;
	/*margin-top: 900px;*/
	cursor: pointer;
	visibility: hidden;
	transition: background-image 1s; 
}
.main_img_next_btn:hover {
	background-image:url(../img/箭头白.png);
}
/*联合化工程实验室*/
.main_page_font {
	margin:auto;
	width: 700px;
	height: 85px;
	/*margin:auto;*/
	font-size: 85px;
	color: white;
	text-shadow: 5px 5px 5px black;
	transition: all 1s;
	cursor: pointer;
}
.main_page_font:hover {
	text-shadow: 10px 10px 10px black;
}

/********************************************************************************/
.first_div {
	width: 100%;
	height: 969px;
	background-color: #777777;
}
.second_div {
	width: 100%;
	height: 969px;
	background-color: blanchedalmond;
}
.third_div {
	width: 100%;
	height: 969px;
	background-color: antiquewhite;
}
.forth_div {
	width: 100%;
	height: 969px;
	background-color: brown;
}
.fifth_div {
	width: 100%;
	height: 969px;
	background-color: coral;
	opacity: 0;
}



/**
 *底部栏 
 */
.tail_div {
	bottom: 0;
	width: 100%;
	/*border: 5px solid yellow;*/
	border-top: 1px solid red;
}
.tag_address_connection_div {
	width: 80%;
	margin: auto;
	/*border: 1px solid #DD4040;*/
}
.tail_ul {
	width: 760px;
	margin: auto;
	list-style: none;
}
/*底部结构*/
.tail_ul_li {
	float: left;/*左浮动*/
	/*border: 1px solid red;*/
	width: 250px;
	height: 250px;
}
/*底部log*/
.logo_div {
	position: relative;
	/*background-color: #00FFFF;*/
	margin: auto;
	margin-top: 10%;
	width: 60%;
	height: 60%;
	background-image: url(../../img/logo.jpg);
	background-size: cover;
}
/*地址*/
.tail_ul_li ul {
	margin-top: 30%;
	list-style: none;
}

.address_div {
	position: relative;
	background-color: #00FFFF;
	width: 100px;
	height: 100px;
}

.banQuan_div {
	width: 100%;
	background-color: red;
	/*border: 1px solid red;*/
}
.banQuan {
	width: 11%;
	margin: auto;
	margin-top: 240px;
	/*border: 1px solid black;*/
	color: black;
}

#goto_toppest {
	position: absolute;
	background-color: #777;
    border: medium none;
    bottom: 100px;
    color: #eee;
    font-size: 20px;
    line-height: 1;
    opacity: 0.8;
    overflow: hidden;
    right: 20px;
    text-align: center;
    text-decoration: none;
    width: 55PX;
    height: 60PX;
    transition: all 0.75s;
}

/*返回顶部*/
#goto_toppest:hover {
	background-color: white;
	color: black;
	height: 80PX;
	/*border-radius: 50%;*/
}













