/**{
	margin: 0;
	padding: 0;
	background: #eee;
}*/
.all{
	width: 100%;
	height: 100%;
	background: #eee;
}
.container{
	margin: 0 auto;
}
.title{
	text-align: center;
	font-size: 30px;
	padding-top: 150px;
	padding-bottom: 30px;
}
.info{
	color: gray;
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 50px;
}
.infobox{
	float: left;
	padding: 10px;
	background: #f7f7f7;
	height: 300px;
	width: 200px;
	text-align: center;
	margin-right: 10px;
	box-shadow:5px -5px 0px rgba(0,0,0,0.2);
}
.infobox:hover {
  box-shadow:-5px 5px 0px rgba(0,0,0,0.2);
}
.catadiv{
	width: 950px;
	margin: 0 auto;
	background: #f7f7f7;
}
.wyImage{
	display: inline-block;
	width: 80px;
	margin-top: 30px;
	background: #f7f7f7;
}
.futitle{
	font-size: 18px;
	background-color: #f7f7f7;
}
.infoma{
	margin-top: 30px;
	font-size: 15px;
	color: gray;
	background: #f7f7f7;
}